<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">        
<link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
<style amp-custom>
* {
    font-family: 'Raleway', sans-serif;
    font-size: medium;
    box-sizing: border-box;
}
#main, article {
    width: 100%;
}
#main {
    background-color: #f9fafc;
    padding: 1rem;
}
 table {
    margin: 0.5rem;
}
td {
    padding: 0.3rem;
    border-bottom-style: solid;
    border-bottom-color: lightgrey;
    ;
    border-bottom-width: 1px;
    font-size: small;
}
.morelikethis {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    color: #ffffff;
    background: grey;
    padding: 10px 20px 10px 20px;
}
.morelikethis:hover {
    background: #3cb0fd;
}
 .code-toolbar {
    word-wrap: break-word;
    white-space: normal;
    overflow-x: auto;
    white-space: nowrap;
    margin: 0;
}
 .highlighter-rouge {
    width: 100%;
    margin: 0;
}
 code[class*="language-"], pre[class*="language-"] {
    width: 100%;
    margin: 0;
}
 .container {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
}
 img {
    max-width: 100%;
    padding: 0.5rem;
}
 a {
    color: #000;
}
 p {
    font-size: medium;
    padding: 0.5em;
    line-height: 2rem;
}
 li p {
    padding: 0;
    line-height: 1.3rem;
}
 li {
    font-size: medium;
    padding: 0;
    line-height: 1.3rem;
    color: #333;
    list-style-type: circle;
    list-style-position: initial;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}
 h1 {
    font-size: xx-large;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
 h2 {
    font-size: x-large;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
 h3 {
    font-size: large;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
 .wrapper-footer {
    margin-top: 0;
}
 .oss-widget-interface {
    display: block;
    margin-bottom: 1.5rem;
}
 .img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}
 .footer {
    text-align: center;
    height: 10rem;
}
 .wrapper-footer {
    background-color: #c7cdd8;
}
 .post-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
}
.post-container img {
    max-width: 100%;
    width: 15rem;
    max-height: 100%;
    height: 15rem;
}
.post-container > div {
    flex-grow: 1;
}
.flexbox-container {
    width: 15rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
a {
    color: #000;
}
.main p {
    font-size: medium;
    padding: 0;
    line-height: 1.2rem;
}
.oss-widget-interface {
    padding-bottom: 0.5rem;
}
.post-title {
    font-weight: bold;
}
image {
    max-width: 100%;
    max-height: 100%;
}
.article-flexbox-container * {
  margin:0;
}
.article-flexbox-container {
    display: flex;
    width: 100%;
    margin-bottom: 1.5rem;

}
.sidebar {
    order: 1;
    flex: 0;
    width: 4rem;
    flex-basis: auto;
}
.author {
    order: 1;
    flex: 5;
    padding-top: 0.5rem;
}
@media (max-width: 480px) {
    .container {
    display: flex;
    width: 100%;
}
.box2 {
    order: 2;
}
.box1 {
    order: 1;
}
}
 .post {
    margin-top: 1rem;
}
 .post .image img, .post .image amp-img {
    width: 4rem;
}
.post .image {
    padding-right: 0.5em;
}
 .post-detail {
    padding-top: 1rem;
}
 .post-detail h4 {
    font-size: small;
}
 .reading-time {
    color: #888;
    padding-top: 0.2rem;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #eee;
}
 .oss-widget-interface {
    padding-bottom: 0.5rem;
}
 h1 {
    font-size: xx-large;
}
 pre {
    background-color: #EEE;
    padding: 0.5rem;
}
 code, code p, code ul, code li, code span {
    font-family: monospace;
    background-color: #EEE;
}
 pre {
    overflow: scroll;
}

  </style>