<!DOCTYPE html>
<html>

  {% include data/head.html %}


    <body id="page-top" class="index">

    {% include data/header-home.html %}

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">Amber Pixie Crafts<br></div>
                <div class="intro-lead-in">Cards, hand made in New Mills, Derbyshire</div>
            </div>
        </div>
    </header>

    {% include data/intro.html %}
    {% include data/designs.html %}
    {% include data/about.html %}
    {% include data/moreinfo2.html %}
    {% include data/contact.html %}
    {% include data/footer.html %}
    {% include data/designs_info.html %}
    {% include data/js.html %}

    </body>
</html>